<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>337728963138-kn4igq39d0unotu3s7lu6ve5q3srn1iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337728963138-kn4igq39d0unotu3s7lu6ve5q3srn1iv</string>
	<key>API_KEY</key>
	<string>AIzaSyC8NUwdA9rJ6cdMgxOWfx_TsveXT1UQ5E4</string>
	<key>GCM_SENDER_ID</key>
	<string>337728963138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedSelim.breakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpooint</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpooint.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337728963138:ios:c4ca79195fa182d4</string>
	<key>DATABASE_URL</key>
	<string>https://breakpooint.firebaseio.com</string>
</dict>
</plist>